<template lang="html">
  <div>
    <b-container fluid>

      <b-row>
        <b-col xs="12" sm="6" md="8">
          <b-row>
              <b-col xs="8"> <h1 style="padding:15px 0;">{{ name }} ({{symbol | uppercase}}/USD)</h1>  </b-col>

          </b-row>
          <CryptoChart :symbol="`${this.symbol}`"/>
            <CoinDetails :coin="`${this.coin}`"/>
        </b-col>
      </b-row>

    </b-container>
  </div>
</template>

<script>
import CryptoChart from '~/components/crypto/Chart.vue'
import CoinDetails from '~/components/crypto/CoinDetails.vue'
export default {

  data () {
    return {
      coin: this.$route.params.coin,
      name: this.$route.params.name,
      symbol: this.$route.params.symbol,
      results: [],
    }
  },
  components: {
    CryptoChart,
    CoinDetails
  },
  filters: {
    uppercase: function(value) {
      if (!value) {
        return '';
      }

      return value.toString().toUpperCase();
    }
  }
}
</script>

<style lang="css">
</style>
