<template lang="html">
    <div>
         <b-container fluid>
           <b-row>
              <b-col xs="12" sm="6" md="8">
                <table class="table table-striped table-bordered" style="text-align:center;">
                  <thead>
                    <tr>
                      <th>Coin</th>
                      <th>Current Price/USD</th>
                      <th>Price Change/24 HRS</th>
                      <th>Price Change %</th>
                      <th>High/24 HRS</th>
                      <th>Low/24 HRS</th>
                      <th>Market Cap</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="n in data" :key="n.id" style="padding-right:4%;">
                      <td><nuxt-link :to="{name: 'cryptocurrency-coin', params: {coin:n.id, symbol:n.symbol,name:n.name }}" onClick="ga('send', 'event', 'Home Page', 'Click', 'Articles - ', 10);">{{ n.name }}</nuxt-link></td>
                      <td>{{ n.current_price }}</td>
                      <td>{{ n.price_change_24h }}</td>
                      <td>{{ n.price_change_percentage_24h }}%</td>
                      <td>{{ n.high_24h }}</td>
                      <td>{{ n.low_24h }}</td>
                      <td>{{ n.market_cap | formatNumber}}</td>
                    </tr>
                  </tbody>
                </table>
           </b-col>
           <b-col xs="12" sm="6" md="4">
             <Sidebar/>
           </b-col>
         </b-row>
       </b-container>

    </div>
</template>

<script>
import axios from 'axios'
import Sidebar from '~/components/Sidebar.vue'
 import {route} from "vue-router"
 import numeral from 'numeral'
export default {
  props: {
    ticker: {type: String}
  },
  data() {
    return {
      postsUrl: 'https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&order=market_cap_desc&per_page=100&page=1&sparkline=false',
     //headers: '',
    data: [],
    }
  },
  mounted() {
            this.getCrypto();
            const pid = this.postID
            setInterval(function () {
          this.getCrypto();
     }.bind(this), 500);
        },
  methods: {
    getCrypto() {
      axios.get(this.postsUrl , {
          params: {
            //limit: 6,
          }
        })
                    .then((response) => {
                        this.data = response.data;

                    })
                    .catch( (error) => {
                        console.log(error);
                    });
    },

},
filters: {
  formatNumber: function (value) {
    return numeral(value).format("0,0");
  }
}
}
</script>

<style lang="css">
</style>
