<template lang="html">
  <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/indices/" rel="noopener" target="_blank"><span class="blue-text">Indices</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
  {
  "showChart": true,
  "locale": "en",
  "width": "100%",
  "height": "100%",
  "largeChartUrl": "",
  "plotLineColorGrowing": "rgba(33, 150, 243, 1)",
  "plotLineColorFalling": "rgba(33, 150, 243, 1)",
  "gridLineColor": "rgba(233, 233, 234, 1)",
  "scaleFontColor": "rgba(131, 136, 141, 1)",
  "belowLineFillColorGrowing": "rgba(5, 122, 205, 0.12)",
  "belowLineFillColorFalling": "rgba(5, 122, 205, 0.12)",
  "symbolActiveColor": "rgba(225, 239, 249, 1)",
  "tabs": [
    {
      "title": "Indices",
      "symbols": [
        {
          "s": "INDEX:SPX",
          "d": "S&P 500"
        },
        {
          "s": "INDEX:XLY0",
          "d": "Shanghai Composite"
        },
        {
          "s": "INDEX:DOWI",
          "d": "Dow 30"
        },
        {
          "s": "INDEX:NKY",
          "d": "Nikkei 225"
        },
        {
          "s": "INDEX:DAX",
          "d": "DAX Index"
        },
        {
          "s": "OANDA:UK100GBP",
          "d": "FTSE 100"
        },
        {
          "s": "NASDAQ:NDX"
        }
      ],
      "originalTitle": "Indices"
    }
  ]
  }
  </script>
</div>
<!-- TradingView Widget END -->
</template>


<script>
import Vue from 'vue'
import VS2 from 'vue-script2'

Vue.use(VS2)

export default {
}
</script>

<style lang="css">
</style>
