<template lang="html">
  <div>
    <!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container">
    <div id="tradingview_5a1c4" :key="cKey"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"><span class="blue-text">AAPL chart</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script>
      new TradingView.widget({
          width: '100%'
        , height: 630
        , symbol: "{{url}}"
        , interval: "D"
        , timezone: "Etc/UTC"
        , theme: "Light"
        , style: "1"
        , locale: "en"
        , toolbar_bg: "#f1f3f6"
        , withdateranges: true
        , hide_side_toolbar: false
        , enable_publishing: false
        , allow_symbol_change: true
        , container_id: "tradingview_5a1c4"
        , hideideas: true
        , show_popup_button: true
        , popup_width: 1000
        , popup_height: 650
      });
      </script>
  </div>
  <!-- TradingView Widget END -->

<br/>

  </div>
</template>

<script>
import Vue from 'vue'
import VS2 from 'vue-script2'
export default {
  props: {
    ticker: {type: String}
  },
  data: function() {
    return {
      tick: this.ticker,
      cKey:0,
    }
  },
  computed: {
   url: function () {
     return this.tick
   }
 },
 methods: {
    forceRerender() {
      this.cKey += 1;
    }
  }
}
</script>

<style lang="css">
</style>
