<template lang="html">
  <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for {{url}}</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
  {
  "width": 425,
  "height": 410,
  "symbol": "{{url}}",
  "locale": "en",
  "interval": "1D"
}
  </script>
</div>
<!-- TradingView Widget END -->
</template>

<script>
import Vue from 'vue'
import VS2 from 'vue-script2'
export default {
  props: {
    ticker: {type: String}
  },
  data: function() {
    return {
      tick: this.ticker,
      cKey:0,
    }
  },
  computed: {
   url: function () {
     return this.tick
   }
 },
 methods: {
    forceRerender() {
      this.cKey += 1;
    }
  }
}
</script>
<style lang="css">
</style>
