<template lang="html">
  <div>
    <!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
    {
    "symbols": [
      {
        "proName": "FOREXCOM:SPXUSD",
        "title": "S&P 500"
      },
      {
        "proName": "FOREXCOM:NSXUSD",
        "title": "Nasdaq 100"
      },
      {
        "proName": "BITSTAMP:BTCUSD",
        "title": "BTC/USD"
      },
      {
        "description": "SPY",
        "proName": "AMEX:SPY"
      },
      {
        "description": "",
        "proName": "OANDA:XAUUSD"
      },
      {
        "description": "",
        "proName": "CURRENCYCOM:OIL_BRENT"
      }
    ],
    "colorTheme": "dark",
    "isTransparent": true,
    "locale": "en"
  }
    </script>
  </div>
  <!-- TradingView Widget END -->

  </div>
</template>

<script>
import Vue from 'vue'
import VS2 from 'vue-script2'
export default {
}
</script>

<style lang="css">
</style>
