<template>
    <div>

        <div  v-for="c in comments" :key="c.id">
          <div v-if="c.parent == 0">
          <div style="padding:20px 0; border-bottom:1px dashed #f7f7f7; margin-bottom:15px;">
             <div class="col-xs-4 col-sm-2">

                <img v-bind:src=" c.author_avatar_urls[96]" style="border-radius:50%;max-width:64px;" >
             </div>
             <div class="col-xs-8 col-sm-10">
               <div style="margin-bottom:12px;font-weight:600;">{{ c.author_name }}</div>
          <div style="padding:15px 10px; font-size:16px; line-height:1.4" v-html="c.content.rendered "></div>
                  <div v-if="c.parent > 0">
                    <div class="" style="margin:15px 0 15px 25px;">
                      <div style="padding:15px 10px; font-size:16px; line-height:1.4" v-html="c.content.rendered "></div>
                    </div>
                  </div>
          </div>
            <div class="clearfix"></div>
          </div>
        </div><!-- end parent -->
        </div><!-- end for -->
    </div>
</template>

<script>

import axios from 'axios'
export default {
  props: {
    postID: { type: String },
  },
  data() {
    return {
      postsUrl: 'http://api.stevensoehl.com//wp-json/wp/v2/comments',
     //headers: '',
    comments: [],
    }
  },
  mounted() {
            this.getComments();
            const pid = this.postID
        },
  methods: {
    getComments() {
      axios.get(this.postsUrl, {params:{
      post:  this.postID
      }
      })
                    .then((response) => {
                        this.comments = response.data;

                    })
                    .catch( (error) => {
                        console.log(error);
                    });
    },

},

}
</script>

<style>
</style>
