<template lang="html">
  <div>
  <div class="col-xs-12 col-sm-6 col-md-3" v-for="post in posts" :key="post.id" style="padding:10px 25px; border-bottom:1px dashed #f7f7f7; margin-bottom:15px;">
				<div class="blog-post-title">
          <nuxt-link :to="`/a/${post.slug}`" title=" post.title.rendered " onClick="ga('send', 'event', 'Home Page', 'Click', 'Articles - ', 10);">
          <div v-html="post.title.rendered"> </div>
        </nuxt-link>
        </div>
				<div class="blog_post_meta"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ post.date_gmt | output-date }}&nbsp;&nbsp;|
          <div v-for="cat in category" :key="cat.id">{{ cat.name }}</div> &nbsp;&nbsp;</div>
				<div class="blog_post_summary" v-html="post.excerpt.rendered"></div>
{{ category }}
   </div>
		</div>
</template>

<script>
import wp from '~/lib/wp'
export default {
  props: {
    posts: { type: Array },

  },

  async asyncData () {
    return wp.category()

  },

}
</script>

<style>
@media (min-width: 768px) {
  .blog-post-title { font-size:21px; line-height:1.4; font-weight: 500;min-height:60px;}
  .blog-post-title a {color:#333;}
  .blog_post_meta { font-size:14px; margin:7px 0; padding:3px; border-bottom:1px solid #ccc; border-top:1px solid #ccc; }
  .blog_post_summary {font-size:16px; margin:7px 0;line-height:1.5 }

}

@media (max-width: 767px) {
  .blog-post-title { font-size:18px; line-height:1.4;font-weight: 700;}
.blog-post-title a {color:#333;}
.blog_post_meta { font-size:14px; margin:7px 0; padding:3px; border-bottom:1px solid #ccc; border-top:1px solid #ccc; }
.blog_post_summary {font-size:14px; margin:7px 0;line-height:1.5}

}
</style>
