<template>
  <div>
    <div v-if="mode === 'excerpt'">
        <nuxt-link :to="`/${post.slug}`">{{ post.title.rendered }}</nuxt-link>
        <div class="post-body" v-html="post.excerpt.rendered"></div>
    </div>
    <div v-if="mode === 'full'">
      <article class="card" itemscope itemtype="http://schema.org/Article">
        <h1 itemprop="headline" style=" margin-top:15px;font-family: 'Nixie One', sans-serif">
          <nuxt-link :to="`/${post.slug}`" style="color:#000;" v-html="post.title.rendered"></nuxt-link>
        </h1>
        <div class="blog_post_meta">
          <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp;<span itemprop="datePublished" >{{ post.date_gmt | output-date }}</span>&nbsp;&nbsp;|&nbsp;&nbsp;Posted by:&nbsp;<!--<span itemprop="author">{{ authors[post.author].name }}</span>-->&nbsp;&nbsp;in:
            <span><nuxt-link :to="{name: 'category-slug', params: { slug:category[post.categories].slug , id:category[post.categories].id, mode:'cat', catName:category[post.categories].name } }" v-html="category[post.categories].name"></nuxt-link></span>

          &nbsp;&nbsp;For:&nbsp;
      <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        <span itemprop="name">StevenSoehl.com</span>
    </span>
        </div>
        <div itemprop="articleBody" style="font-family: 'Titillium Web', sans-serif;" v-html="post.content.rendered "></div>
      </article>
      <h4 style="margin-top:30px;">You Might Also Like</h4>
      <SimilarPosts :catID="post.categories" :postID="post.id"/>
      <div v-if="comments[post.id]">
        <h4 style="margin-top:30px;">COMMENTS</h4>
          <CommentsList :postID="post.id"/>
  </div>
      <div v-else>
        <h4 style="margin-top:30px;">NO COMMENTS</h4>


      </div>

    </div>

</div>
</template>

<script>
import { mapState } from 'vuex'
//import VueHighlightJS from 'vue-highlightjs'
import CommentsList from '~/components/posts/CommentsList'
import SimilarPosts from '~/components/posts/SimilarPosts'
export default {

  props: {
    post: { type: Object },
    postID: { type: String },
    catID: { type: String },
    mode: {
      type: String,
      validator: val => (['excerpt', 'full'].includes(val))
    }
  },

  filters: {
  strippedContent(value) {
    let regex = /<(?!code\s*\/?)[^>]+>/g;
    return value.replace(regex, "");
  }
},
components: {
  CommentsList,
  SimilarPosts
},

head () {
  return {
    title: `${this.current_post.title.rendered} | ${this.site_data.name}`,
    meta: [
     { hid: 'description', name: 'description', content: this.post.acf.meta_desc }
   ]
  }
},
  computed: mapState(['authors','category','comments','site_data', 'current_post'])
}
</script>
<style>
.blog_post_meta { font-size:14px; margin:7px 0; padding:3px; border-bottom:1px solid #ccc; border-top:1px solid #ccc; }

@media (max-width: 767px) {
h1 {font-size:22px;}
}

</style>
