<template>
  <div>
      <div  v-for="p in similar" :key="p.id">
          <nuxt-link :to="`/${p.slug}`">{{ p.title.rendered }}</nuxt-link>
      </div>
  </div>
</template>

<script>

import axios from 'axios'
export default {
  props: {
    catID: { type: String },
    postID: { type: Number },
  },
  data() {
    return {
      postsUrl: 'https://api.stevensoehl.com/wp-json/wp/v2/posts',
     //headers: '',
    similar: [],
    }
  },
  mounted() {
            this.getSimilarPost();
            const pid = this.postID
        },
  methods: {
    getSimilarPost() {
      axios.get(this.postsUrl, {params:{
      categories:  this.catID,
      per_page: 3,
      //orderby: 'rand'
      }
      })
                    .then((response) => {
                        this.similar = response.data;

                    })
                    .catch( (error) => {
                        console.log(error);
                    });
    },

},

}
</script>

<style>
</style>
