<template lang="html">
  <div>
    <h1 style="font-size:21px;">{{company.companyName}} Profile</h1>
    <div style="margin-top:15px;line-height:1.5;">

        <b-tabs content-class="mt-3">
    <b-tab title="Overview" active>
      <h3 style="font-size:17px;font-weight:600;">Description</h3>
      <p>{{company.description}}</p>
      <div style="margin:8px 0;"><span style="font-weight:600;padding-right:5px;">Exchange:</span>{{company.exchange}}</div>
      <div style="margin:8px 0;"><span style="font-weight:600;padding-right:5px;">Industry:</span>{{company.industry}}</div>
      <div style="margin:8px 0;"><span style="font-weight:600;padding-right:5px;">Sector:</span>{{company.sector}}</div>
      <div style="margin:8px 0;"><span style="font-weight:600;padding-right:5px;">CEO:</span>{{company.CEO}}</div>
      <div style="margin:8px 0;"><span style="font-weight:600;padding-right:5px;">Website:</span>{{company.website}}</div>

    </b-tab>
    <b-tab title="Stats">
      <b-row>
      <b-col xs="12" sm="6">
       <div style="margin:8px 0;border-bottom:1px solid #eee;width:90%;padding-bottom:3px;"><span style="font-weight:600;padding-right:5px;">Market Cap:</span>{{stats.marketcap | formatNumber }}</div>
       <div style="margin:8px 0;border-bottom:1px solid #eee;width:90%;padding-bottom:3px;"><span style="font-weight:600;padding-right:5px;">Beta:</span>{{stats.beta }}</div>
       <div style="margin:8px 0;border-bottom:1px solid #eee;width:90%;padding-bottom:3px;"><span style="font-weight:600;padding-right:5px;">52 Week High:</span>{{stats.week52high }}</div>
       <div style="margin:8px 0;border-bottom:1px solid #eee;width:90%;padding-bottom:3px;"><span style="font-weight:600;padding-right:5px;">52 Week Low:</span>{{stats.week52low }}</div>
       <div style="margin:8px 0;border-bottom:1px solid #eee;width:90%;padding-bottom:3px;"><span style="font-weight:600;padding-right:5px;">Short Interest:</span>{{stats.shortInterest | formatNumber }}</div>
       <div style="margin:8px 0;border-bottom:1px solid #eee;width:90%;padding-bottom:3px;"><span style="font-weight:600;padding-right:5px;">Short Ratio:</span>{{stats.shortRatio }}</div>
       <div style="margin:8px 0;border-bottom:1px solid #eee;width:90%;padding-bottom:3px;"><span style="font-weight:600;padding-right:5px;">Float:</span>{{stats.float | formatNumber }}</div>
       <div style="margin:8px 0;border-bottom:1px solid #eee;width:90%;padding-bottom:3px;"><span style="font-weight:600;padding-right:5px;">Shares Outstanding:</span>{{stats.sharesOutstanding | formatNumber }}</div>
       <div style="margin:8px 0;border-bottom:1px solid #eee;width:90%;padding-bottom:3px;"><span style="font-weight:600;padding-right:5px;">Institutional %:</span>{{stats.institutionalPercent }}</div>
       <div style="margin:8px 0;border-bottom:1px solid #eee;width:90%;padding-bottom:3px;"><span style="font-weight:600;padding-right:5px;">Insider %:</span>{{stats.insiderPercent }}</div>
     </b-col>
     <b-col xs="12" sm="6">
       <div style="margin:8px 0;border-bottom:1px solid #eee;width:90%;padding-bottom:3px;"><span style="font-weight:600;padding-right:5px;">Latest EPS :</span>{{stats.latestEPS  }}</div>
       <div style="margin:8px 0;border-bottom:1px solid #eee;width:90%;padding-bottom:3px;"><span style="font-weight:600;padding-right:5px;">Latest EPS Date :</span>{{stats.latestEPSDate  }}</div>
       <div style="margin:8px 0;border-bottom:1px solid #eee;width:90%;padding-bottom:3px;"><span style="font-weight:600;padding-right:5px;">Revenue:</span>{{stats.revenue | formatNumber }}</div>
       <div style="margin:8px 0;border-bottom:1px solid #eee;width:90%;padding-bottom:3px;"><span style="font-weight:600;padding-right:5px;">Gross  Profit:</span>{{stats.grossProfit | formatNumber }}</div>

     </b-col>
   </b-row>
    </p></b-tab>
    <b-tab title="disabled" disabled>Disabled tab!></p></b-tab>
  </b-tabs>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import numeral from 'numeral'
export default {
  props: {
    ticker: {type: String}
  },
  data() {
    return {
      postsUrl: 'https://api.iextrading.com/1.0',
     //headers: '',
    company: [],
    stats: [],
    }
  },
  mounted() {
            this.getCompany();
            this.getCompanyStats();
            const pid = this.postID
        },
  methods: {
    getCompany() {
      axios.get(this.postsUrl + '/stock/'+ this.ticker + '/company', {
          params: {

          }
        })
                    .then((response) => {
                        this.company = response.data;

                    })
                    .catch( (error) => {
                        console.log(error);
                    });
    },
    getCompanyStats() {
      axios.get(this.postsUrl + '/stock/'+ this.ticker + '/stats', {
          params: {

          }
        })
                    .then((response) => {
                        this.stats = response.data;

                    })
                    .catch( (error) => {
                        console.log(error);
                    });
    },

},
filters: {
  formatNumber: function (value) {
    return numeral(value).format("0,0");
  }
}
}
</script>

<style lang="css">
</style>
