<template lang="html">
  <div>
    {{ filings }}
  </div>
</template>

<script>
import io from 'socket.io-client';
import api from 'sec-api';
export default {

  data() {
    return {
      key: '0168bbdb59662422991b8752523dc978df7d1a3a2bb59f2c680f9be6b83c8955',
     //headers: '',
    filings: [],
    }
  },

  mounted() {
            this.getFilings();
            const pid = this.postID
            setInterval(function () {
          this.getFilings();
     }.bind(this), 500);
        },
        methods: {
          getFilings() {
            const socket = api(this.key);
             socket.on('filing', this.filings);
          },
}
}
</script>

<style lang="css">
</style>
