<template lang="html">
    <div>
      <h1 style="font-size:21px;">{{company.companyName}} News</h1>
      <ul class="post-list">
 <li v-for="n in news" :key="n.headline">
   <nuxt-link :to="`/${n.url}`">{{ n.headline }}</nuxt-link>
        <!--<div class="post-body" v-html="n.summary"></div>-->
 </li>
</ul>

    </div>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'
import iex from '~/lib/iexapi'
 import {route} from "vue-router"
export default {
  props: {
    ticker: {type: String},
    limit: {type:String}
  },
  data() {
    return {
      postsUrl: 'https://api.iextrading.com/1.0',
     //headers: '',
    news: [],
    company: [],
    }
  },
  mounted() {
            this.getNews();
            this.getCompany();
            const pid = this.postID
        },
  methods: {
    getCompany() {
      axios.get(this.postsUrl + '/stock/'+ this.ticker + '/company', {
          params: {

          }
        })
                    .then((response) => {
                        this.company = response.data;

                    })
                    .catch( (error) => {
                        console.log(error);
                    });
    },
    getNews() {
      axios.get(this.postsUrl + '/stock/'+ this.ticker + '/news/last/' + this.limit)
                    .then((response) => {
                        this.news = response.data;

                    })
                    .catch( (error) => {
                        console.log(error);
                    });
    },

},
}
</script>

<style lang="css">
ul.post-list li {
  padding:6px 0;
  list-style: none;
}
</style>
