<template lang="html">
  <div>
    <b-row  class="search">
      <b-col xs="12">
        <b-form-input type="text" placeholder="Search by Ticker or Name"  v-model.lazy="keywords" v-debounce="delay"  class="search-box" v-on:keyup.backspace="refetch()" />


          <div v-for="(results,index) in results" class="" style="width:100%; padding:5px;margin-top:0;border:1px solid #ccc;">
            <v-card>

            <nuxt-link :to="{name: 'stock-market-ticker', params: {ticker:results['1. symbol'],name:results['2. name'] }}" onClick="ga('send', 'event', 'Home Page', 'Click', 'Articles - ', 10);">
            {{ results['2. name'] }} - {{ results['1. symbol'] }}
          </nuxt-link>
          </v-card>
        </div>

      </b-col>
       <!--<b-col sm="2"><button type="button" class="btn btn-outline-info" @click="refetch()"> Close </button></b-col>-->
    </b-row>


        </div>
</template>

<script>
import axios from 'axios'
import debounce from '~/components/debounce/index'
export default {
  data() {
    return {
    keywords: '',
    results: [],
    delay:500
  }
},

directives: {debounce},
watch: {
  keywords(after, before){
    this.fetch();
  }
},

methods: {
  fetch() {
         if(this.keywords != null){
            axios.get('https://www.alphavantage.co/query' , {

                  params: {
                      function:'SYMBOL_SEARCH',
                      keywords: this.keywords,
                      apikey: 'IOXIRSZYBMD8ZRID'
                  }
            })
                .then((response) => {

                  this.results= response.data.bestMatches
                  console.log(this.results)

                  })
                .catch((response)=> {
                  if (response.status == undefined) {
                    alert('unauthorized')
                    }
                });
              }
        },

  refetch() {
    this.keywords = ""
    //this.results.length = 0

  }

}
}
</script>

<style lang="css">
.search-box {
  border:0!important;
  background-color:#f7f7f7;
  font-size:21px;
  padding:9px;
}
</style>
