<template lang="html">
        <div>
          <div v-for="n in filing" :key="n.id" style="padding-right:4%;">
              <b-row style="padding:10px 0; border-bottom:1px solid #ccc;">
                 <b-col>
                   <h2>{{n.title}}</h2>
                    <div class="post-body" v-html="n.summary" style="word-wrap: break-word"></div>
                </b-col>
            </b-row>
          </div>
          {{ filing }}
        </div>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'
import iex from '~/lib/iexapi'
 import {route} from "vue-router"
 var parseString = require('xml2js').parseString;
export default {
  props: {
    ticker: {type: String}
  },
  data() {
    return {
      postsUrl: 'https://www.sec.gov/cgi-bin/browse-edgar?action=getcurrent&CIK=&type=&company=&dateb=&owner=include&start=0&count=40&output=atom',
     //headers: '',
    filing: [],
    }
  },
  mounted() {
            this.getFiling();
            const pid = this.postID
            setInterval(function () {
          this.getFiling();
     }.bind(this), 500);
        },
  methods: {
    getFiling() {
      axios.get(this.postsUrl)
                    .then((response) => {
                        //this.data = response.data;
                           parseString(response.data,(err, result) => {
                             if(err) {
                                //Do something
                                } else {
                                  console.log(result)
                                    this.filing = result
                                  }
                           });
                    });

    },

},
}
</script>

<style lang="css">
</style>
