<template lang="html">
  <div>
{{company.bidPrice | formatNumber }}
  </div>
</template>

<script>
import axios from 'axios'
import numeral from 'numeral'
export default {
  props: {
    ticker: {type: String}
  },
  data() {
    return {
      postsUrl: 'https://api.tdameritrade.com/v1/marketdata',
     //headers: '',
    company: [],
    stats: [],
    }
  },
  mounted() {
            this.getCompany();
            const pid = this.postID
        },
  methods: {
    getCompany() {
      axios.get(this.postsUrl + '/'+ this.ticker + '/quotes', {
          params: {
              apikey: '4CROVOROMFV2WDLLABERRAO2W3K0XHBB',
          }
        })
                    .then((response) => {
                        this.company = response.data;

                    })
                    .catch( (error) => {
                        console.log(error);
                    });
    },

},
filters: {
  formatNumber: function (value) {
    return numeral(value).format("0,0");
  }
}
}
</script>

<style lang="css">
</style>
