<template lang="html">
  <div>
    <Search/>
    <b-container fluid>

      <b-row>
        <b-col xs="12" sm="6" md="8">
          <b-row>
              <b-col xs="8"> <h1 style="padding:15px 0;">{{ name }} ({{ticker}})</h1>
                      <div style="margin-top:10px;"><TDPrice :ticker="`${this.ticker}`"/></div>
                </b-col>

          </b-row>
          <StockChart :ticker="`${this.ticker}`"/>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- FinMarketTrader_Resp1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5900538653114638"
     data-ad-slot="7825071162"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
           <div style="margin-top:40px;">
             <b-row>
               <b-col xs="12" sm="6" md="8">
              <CompanyData :ticker="`${this.ticker}`"/>
            </b-col>
            <b-col xs="12" sm="6" md="4">
          <News :ticker="`${this.ticker}`" limit="5"/>
         </b-col>
          </b-row>
          <b-row>
              <b-col>

              </b-col>
          </b-row>
           </div>
        </b-col>
        <b-col xs="12" sm="6" md="4">
          <div style="text-align:center; padding:10px;">
          <TechnicalAnalysis :ticker="`${this.ticker}`"/>
        </div>

        <div style="padding:15px 20px;margin-top:25px;border:1px solid #ccc;border-radius:6px;">
           <StockTwits :ticker="`${this.ticker}`"/>
         </div>
        </b-col>

      </b-row>
    </b-container>
  </div>
</template>

<script>
import {route} from "vue-router"
import axios from 'axios'
import StockTwits from '~/components/StockTwits.vue'
import CompanyData from '~/components/stocks/CompanyData.vue'
import StockChart from '~/components/stocks/widgets/StockChart.vue'
import TechnicalAnalysis from '~/components/stocks/widgets/TechnicalAnalysis.vue'
import Search from '~/components/stocks/Search.vue'
import News from '~/components/stocks/News.vue'
import TDPrice from '~/components/stocks/TDData.vue'
//import Filings from '~/components/stocks/EdgarFilings.vue'
export default {
  data () {
    return {
      ticker: this.$route.params.ticker,
      name: this.$route.params.name,
      results: [],
    }
  },
  components: {
    StockTwits,
    StockChart,
    Search,
    TechnicalAnalysis,
    CompanyData,
    News,
    TDPrice
    //Filings
  },

}
</script>

<style lang="css">

</style>
