<template lang="html">
  <div>
    <Search/>
    <b-container fluid>

      <b-row>
        <b-col xs="12" sm="6" md="8">

          <SECFilings/>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- FinMarketTrader_Resp1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5900538653114638"
     data-ad-slot="7825071162"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

        </b-col>
        <b-col xs="12" sm="6" md="4">

        </b-col>

      </b-row>
    </b-container>
  </div>
</template>

<script>
import {route} from "vue-router"
import axios from 'axios'
import SECFilings from '~/components/stocks/SECFilings.vue'

//import Filings from '~/components/stocks/EdgarFilings.vue'
export default {
  data () {
    return {
      ticker: this.$route.params.ticker,
      name: this.$route.params.name,
      results: [],
    }
  },
  components: {
    SECFilings,
  },

}
</script>

<style lang="css">

</style>
