<template lang="html">
    <div>
         <b-container fluid>
           <b-row>
              <b-col xs="12" sm="6" md="8">
                STOCK MARKET
           </b-col>
           <b-col xs="12" sm="6" md="4">
             <Sidebar/>
           </b-col>
         </b-row>
       </b-container>

    </div>
</template>

<script>
import Sidebar from '~/components/Sidebar.vue'
export default {

  components: {
    Sidebar
  }
}
</script>

<style lang="css">
</style>
