<template lang="html">
  <div>
  
    <b-container fluid>
      <h1 style="padding:15px 0;">FOREX</h1>
      <b-row>
        <b-col xs="12" sm="6" md="9">
          <b-row>
            <b-col xs="12" sm="12" md="7">
          <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/currencies/" rel="noopener" target="_blank"><span class="blue-text">Forex Rates</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js" async>
  {
  "locale": "en",
  "symbolsGroups": [
    {
      "symbols": [
        {
          "name": "FX_IDC:EURUSD"
        },
        {
          "name": "FX_IDC:USDJPY"
        },
        {
          "name": "FX_IDC:GBPUSD"
        },
        {
          "name": "FX_IDC:AUDUSD"
        },
        {
          "name": "FX_IDC:USDCAD"
        },
        {
          "name": "FX_IDC:USDCHF"
        }
      ],
      "name": "Major"
    },
    {
      "symbols": [
        {
          "name": "FX_IDC:EURGBP"
        },
        {
          "name": "FX_IDC:EURJPY"
        },
        {
          "name": "FX_IDC:GBPJPY"
        },
        {
          "name": "FX_IDC:CADJPY"
        },
        {
          "name": "FX_IDC:GBPCAD"
        },
        {
          "name": "FX_IDC:EURCAD"
        }
      ],
      "name": "Minor"
    },
    {
      "symbols": [
        {
          "name": "FX_IDC:USDSEK"
        },
        {
          "name": "FX_IDC:USDMXN"
        },
        {
          "name": "FX_IDC:USDZAR"
        },
        {
          "name": "FX_IDC:EURTRY"
        },
        {
          "name": "FX_IDC:EURNOK"
        },
        {
          "name": "FX_IDC:GBPPLN"
        }
      ],
      "name": "Exotic"
    }
  ],
  "title": "Currencies",
  "height": "100%",
  "width": "100%",
  "title_link": "/markets/currencies/rates-major/"
}
  </script>
</div>
<!-- TradingView Widget END -->
</b-col>
<b-col xs="12" sm="12" md="5">
  <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/currencies/economic-calendar/" rel="noopener" target="_blank"><span class="blue-text">Economic Calendar</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-events.js" async>
  {
  "width": "100%",
  "height": "100%",
  "locale": "en",
  "importanceFilter": "-1,0,1"
}
  </script>
</div>
<!-- TradingView Widget END -->
</b-col>
</b-row>
        </b-col>
        <b-col xs="12" sm="6" md="3">
          <Sidebar/>
        </b-col>
      </b-row>
    </b-container>

  </div>
</template>

<script>
import ForexTicker from '~/components/forex/ForexTicker.vue'
import Sidebar from '~/components/Sidebar.vue'
import Vue from 'vue'
import VS2 from 'vue-script2'
export default {
  components: {
    Sidebar,
    ForexTicker
  }
}
</script>

<style lang="css">
</style>
