<template lang="html">
    <div>
      <div class="ticker-wrap">
<div class="ticker">
<div class="ticker__item"><span :fromCurrency="USD"  :toCurrency="EUR">EUR/USD: {{results}}</span></div>
<div class="ticker__item">Vice mlkshk crucifix beard chillwave meditation hoodie asymmetrical Helvetica.</div>
<div class="ticker__item">Ugh PBR&amp;B kale chips Echo Park.</div>
<div class="ticker__item">Gluten-free mumblecore chambray mixtape food truck. </div>
</div>
</div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
  props: {
    fromCurrency: {type: String},
    toCurrency: {type: String},
  },
data() {
  return {
    fromCurrency: 'BTC',
    toCurrency: 'USD',
    results:[]
  }
},
mounted() {
          this.getPairs();
          const pid = this.postID
          setInterval(function () {
        this.getPairs();
   }.bind(this), 500);
      },

  methods: {
    getPairs() {
      axios.get('https://www.alphavantage.co/query' , {

            params: {
                function:'CURRENCY_EXCHANGE_RATE',
                from_currency: 'BTC',
                to_currency: 'USD',
                apikey: 'IOXIRSZYBMD8ZRID'
            }
      })
          .then((response) => {

            this.results= response.data
            console.log(this.results)

            })
                    .catch( (error) => {
                        console.log(error);
                    });
    },

},
}
</script>

<style lang="scss">
* { box-sizing: border-box; }
$duration: 30s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {

  width: 100%;
  overflow: hidden;
  height: 2.5rem;
  background-color: rgba(#000, 0.9);
  padding-left: 100%;
  box-sizing: content-box;

  .ticker {

    display: inline-block;
    height: 2.5rem;
    line-height: 2.5rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: $duration;
            animation-duration: $duration;

    &__item {

      display: inline-block;

      padding: 0 2rem;
      font-size: 1.5rem;
      color: white;

    }

  }

}

</style>
