<template lang="html">
  <div>
  <div  style="background-color:#000;border-bottom:#333 solid 1px;"><TopTicker/></div>
  <b-navbar toggleable="md"  class="topnav">

    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

    <b-navbar-brand class="logo" ><nuxt-link :to="{name: 'index', params: {sidebar:'home' }}">FinMarketTrader.com</nuxt-link></b-navbar-brand>

    <b-collapse is-nav id="nav_collapse">


          <b-navbar-nav>
        <b-nav-item><nuxt-link :to="{name: 'index', params: {sidebar:'home' }}">HOME</nuxt-link></b-nav-item>
          <b-nav-item><nuxt-link :to="{name: 'stock-market', params: {plum:'stocks' }}">STOCKS</nuxt-link></b-nav-item>
          <b-nav-item><nuxt-link :to="{name: 'forex', params: {sidebar:'forex' }}">FOREX</nuxt-link></b-nav-item>
          <b-nav-item><nuxt-link :to="{name: 'cryptocurrency', params: {sidebar:'crypto' }}">CRYPTO</nuxt-link></b-nav-item>
          </b-navbar-nav>




      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">



        <b-nav-item-dropdown right>

        </b-nav-item-dropdown>
      </b-navbar-nav>

    </b-collapse>
  </b-navbar>
</div>
</template>

<script>
import TopTicker from '~/components/stocks/widgets/TopTicker.vue'
//import store from '../../store/store'
export default {
  name: 'Navbar',
  components: {
    TopTicker

  },
}
</script>

<style lang="css">
.topnav {
  background-color: #000;
}

.topnav a {
  color:#fff;
}

.logo  {
  color:#fff;
}
.ticker {position:fixed;top:0;z-index:100;}
</style>
