<template lang="html">
       <div>
         {{sidebar}}
         <div class="sidebar">
           <div v-if="currentRouteName == 'forex'">
            <SidebarForex/>
          </div>
          <div v-else-if="currentRouteName == 'stock-market'">
           <SidebarStocks/>
         </div>
         </div>
       </div>
</template>

<script>
import {route} from "vue-router"
import SidebarForex from '~/components/sidebars/SidebarForex.vue'
import SidebarStocks from '~/components/sidebars/SidebarStocks.vue'
export default {
  data () {
    return {
      sidebar: this.$route.query.page,
      ticker: this.$route.query.page,
    }
  },
  components: {
     SidebarForex,
     SidebarStocks
  },
  computed: {
    currentRouteName() {
        return this.$route.name;
    }
}
}
</script>

<style lang="css">
</style>
