<template lang="html">
    <div>

<h1 style="font-size:21px;text-align:center;margin-bottom:12px;">Ticker Chatter</h1>
 <div v-for="n in data" :key="n.id" style="padding-right:4%;">
     <b-row style="padding:10px 0; border-bottom:1px solid #ccc;">
       <b-col xs="4" sm="3" md="2">
          <b-img v-bind:src="n.user.avatar_url" fluid style="text-align:center;"  />
          <div style="margin-top:6px; text-align:center; word-wrap: break-word;font-size:12px;line-height:1;">{{ n.user.username }}</div>
       </b-col>
        <b-col xs="4" sm="9" md="10">
     <div class="post-body" v-html="n.body" style="word-wrap: break-word"></div>
   </b-col>
   </b-row>
 </div>


    </div>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'
import iex from '~/lib/iexapi'
 import {route} from "vue-router"
export default {
  props: {
    ticker: {type: String}
  },
  data() {
    return {
      postsUrl: 'https://api.stocktwits.com/api/2/streams',
     //headers: '',
    data: [],
    }
  },
  mounted() {
            this.getTwits();
            const pid = this.postID
            setInterval(function () {
          this.getTwits();
     }.bind(this), 500);
        },
  methods: {
    getTwits() {
      axios.get(this.postsUrl + '/symbol/'+ this.ticker + '.json', {
          params: {
            limit: 6,
          }
        })
                    .then((response) => {
                        this.data = response.data.messages;

                    })
                    .catch( (error) => {
                        console.log(error);
                    });
    },

},
}
</script>

<style lang="css">
ul.post-list li {
  padding:6px 0;
  list-style: none;
}
</style>
