<template lang="html">
    <div>

<h1 style="font-size:21px;text-align:center;margin-bottom:12px;">Trending Tickers</h1>
 <div v-for="n in data" :key="n.id" style="padding-right:4%;">
     <b-row style="padding:10px 0;">
        <b-col xs="12">
          <div v-if="n.watchlist_count > 999">
          <nuxt-link :to="{name: 'stock-market-ticker', params: {ticker:n.symbol,name:n.title }}" onClick="ga('send', 'event', 'Home Page', 'Click', 'Articles - ', 10);">
          {{ n.title }} - {{ n.symbol }}
        </nuxt-link>
      </div>
   </b-col>
   </b-row>
 </div>


    </div>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'
import iex from '~/lib/iexapi'
 import {route} from "vue-router"
export default {
  props: {
    ticker: {type: String}
  },
  data() {
    return {
      postsUrl: 'https://api.stocktwits.com/api/2/trending/symbols.json',
     //headers: '',
    data: [],
    }
  },
  mounted() {
            this.getTwitTrends();
            const pid = this.postID
            setInterval(function () {
		      this.getTwitTrends();
		 }.bind(this), 500);
        },
  methods: {
    getTwitTrends() {
      axios.get(this.postsUrl , {
          params: {
            limit: 30,
          }
        })
                    .then((response) => {
                        this.data = response.data.symbols;

                    })
                    .catch( (error) => {
                        console.log(error);
                    });
    },

},
}
</script>

<style lang="css">
ul.post-list li {
  padding:6px 0;
  list-style: none;
}
</style>
