<template>
  <section class="container">
    <h1>Posts in {{ catName }}</h1>
    <div class="row">
      <div class="col-xs-12 col-md-8">
    <div v-for="post in posts" :key="post.id">

      <div style="padding:10px 0; border-bottom:1px dashed #f7f7f7; margin-bottom:15px;">

        <h2 style="font-family: 'Nixie One', sans-serif;font-size:30px; line-height:1.4; font-weight: 500">
          <nuxt-link :to="`/${post.slug}`" v-html="post.title.rendered" style="color:#000;"></nuxt-link>
        </h2>
        <div  class="blog_post_meta"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ post.date_gmt | output-date }} wriiten by {{ authors[post.author].name }}
        </div>
        <div class="blog_post_summary" v-html="post.excerpt.rendered"></div>

      </div>
    </div>
    <Pagination :pagination="pagination"
                    @prev="--postsData.page; getPosts()"
                    @next="postsData.page++; getPosts()">
    </Pagination>
  </div>
  <div class="col-xs-12 col-md-4">
    <Sidebar/>
  </div>
</div><!-- end row -->
  </section>
</template>

<script>
import PostList from '~/components/posts/PostList.vue'
import Pagination from '~/components/Pagination.vue'
import Sidebar from '~/components/Sidebar.vue'
import wp from '~/lib/wp'
import axios from 'axios'
import { mapState } from 'vuex'
import {route} from "vue-router"

export default {

  //async asyncData ({ params }) {
    //return wp.posts({ per_page: 10})
  //},
  data() {
    return {
      postsUrl: 'https://wpapi.finmarkettrader.com/wp-json/wp/v2/posts',
     catName: this.$route.params.catName,
     posts:[],
      postsData: {
        page:1,
        per_page:10,
        categories:this.$route.params.id
      },
  pagination: {
    prevPage: '',
    nextPage: '',
    totalPages: '',
    from: '',
    to: '',
    total: '',
  },
}
},
mounted() {
          this.getPosts();
      },
      head () {
        return {
          title: 'Cat',
          meta: [
           { hid: 'description', name: 'description', content: 'Web Development, Web Design, SEO and online marketing blog' }
         ]
        }
      },
  components: {
    PostList,
    Pagination,
    Sidebar
  },
computed: mapState(['authors']),
methods: {
  getPosts() {
    axios.get(this.postsUrl, {params: this.postsData})
                  .then((response) => {
                      this.posts = response.data;
                      this.configPagination(response.headers);
                  })
                  .catch( (error) => {
                      console.log(error);
                  });
  },
  configPagination(headers) {
      this.pagination.total = +headers['x-wp-total'];
      this.pagination.totalPages = +headers['x-wp-totalpages'];
      this.pagination.from = this.pagination.total ? ((this.postsData.page - 1) * this.postsData.per_page) + 1 : ' ';
      this.pagination.to = (this.postsData.page * this.postsData.per_page) > this.pagination.total ? this.pagination.total : this.postsData.page * this.postsData.per_page;
      this.pagination.prevPage = this.postsData.page > 1 ? this.postsData.page : '';
      this.pagination.nextPage = this.postsData.page < this.pagination.totalPages ? this.postsData.page + 1 : '';
      console.log(headers)
    },
      onPageChange(page) {
        window.scrollTo(0,0);
      }
    }
}
</script>
<style>
@media (min-width: 768px) {
  .blog-post-title { font-size:21px; line-height:1.4; font-weight: 500;min-height:60px;}
.blog-post-title a {color:#333;}
.blog_post_meta { font-size:14px; margin:7px 0; padding:3px; border-bottom:1px solid #ccc; border-top:1px solid #ccc; }
.blog_post_summary {font-size:16px; margin:7px 0;line-height:1.5 }
}

@media (max-width: 767px) {
  .blog-post-title { font-size:18px; line-height:1.4;font-weight: 700;}
.blog-post-title a {color:#333;}
.blog_post_meta { font-size:14px; margin:7px 0; padding:3px; border-bottom:1px solid #ccc; border-top:1px solid #ccc; }
.blog_post_summary {font-size:14px; margin:7px 0;line-height:1.5}
}
</style>
