<template lang="html">
  <div>
    <b-tabs content-class="mt-3">
<b-tab title="Overview" active>
  <h3 style="font-size:17px;font-weight:600;">Description</h3>
  <p v-html="crypto.description"></p>
  <div style="padding:6px 0;">Website:&nbsp;{{ crypto.links}}</div>

</b-tab>
<b-tab title="Stats">

</p></b-tab>
<b-tab title="disabled" disabled>Disabled tab!></p></b-tab>
</b-tabs>
  </div>
</template>
<script>
import axios from 'axios'
import numeral from 'numeral'
export default {
  props: {
    coin: {type: String}
  },
  data() {
    return {
      postsUrl: 'https://api.coingecko.com/api/v3/coins/',
     //headers: '',
    crypto: [],
    stats: [],
    coiner: this.coin
    }
  },
  mounted() {
            this.getCompany();
            this.getCompanyStats();
            const pid = this.postID
        },
  methods: {
    getCompany() {
      axios.get('https://api.coingecko.com/api/v3/coins/'+ this.coiner , {
          params: {
              localization: false
          }
        })
                    .then((response) => {
                        this.crypto = response.data;

                    })
                    .catch( (error) => {
                        console.log(error);
                    });
    },
    getCompanyStats() {
      axios.get(this.postsUrl + '/stock/'+ this.ticker + '/stats', {
          params: {

          }
        })
                    .then((response) => {
                        this.stats = response.data;

                    })
                    .catch( (error) => {
                        console.log(error);
                    });
    },

},
filters: {
  formatNumber: function (value) {
    return numeral(value).format("0,0");
  }
}
}
</script>

<style lang="css">
</style>
