<template lang="html">
  <div>
<StockTwitsTrending :ticker="`${this.ticker}`"/>
 </div>
</template>

<script>
import StockTwitsTrending from '~/components/StockTwitsTrending.vue'
export default {
  data () {
    return {
      ticker: this.$route.params.ticker,
      name: this.$route.params.name,
    //  results: [],
    }
  },
  components: {
   StockTwitsTrending,
  //  TechnicalAnalysis
  }
}
</script>

<style lang="css">
</style>
