<template lang="html">
  <div>
  <div class="sidebar-widget">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Financial-Responsive -->
<ins class="adsbygoogle"
   style="display:block"
   data-ad-client="ca-pub-5900538653114638"
   data-ad-slot="7223066827"
   data-ad-format="auto"
   data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </div>
</div>
</template>

<script>
import Vue from 'vue'
import VS2 from 'vue-script2'
export default {
}
</script>

<style lang="css">
.sidebar-widget {
  padding:10px;
  margin: 15px 0;
}
</style>
