<template>
  <div>
    <Navbar/>
    <nuxt />
    <Footer/>
  </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
import Navbar from '~/components/Navbar.vue'
import Footer from '~/components/Footer.vue'
import store from '~/store/index.js'
//import Footer from '~/components/Footer.vue'
export default {
  components: {
    Navbar,
    Footer
  },
  computed: {
    loggedIn(){
      return store.state.isLoggedIn
    }
  },
}

</script>

<style>
body {
color: #49494f;
font-family: 'Titillium Web', sans-serif;
font-size: 1rem;
line-height: 1.38rem;

}

.container-fluid {
    width: 100%;
    padding-right: 6%;
    padding-left: 6%;
    margin-right: auto;
    margin-left: auto;
}

.mod {
  border:1px solid #ccc;
  padding:10px;
  background-color: #fff;
  margin: 20px 0;
}

.mod .title {
  font-size:24px;
  margin-bottom: 20px;
}
</style>
