<template>

    <div>
        <b-container fluid>
          <b-row>
                <b-col>
                       <div v-if="loggedIn == true"> HELLO </div>
                    <div class="title">STOCKS</div>
                    <b-row>
                    <b-col xs="12" sm="6" md="4">
                      <div class="subtitle">MARKETS</div>
                        <MarketOverview/>
                        <PostHome :posts="posts" />
                        <script type="text/javascript">
                            window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
                              heap.load("512618630");
                        </script>
                    </b-col>
                    <b-col xs="12" sm="6" md="4">
                      <div class="subtitle">News</div>
                      <News ticker="market" limit="5"/>
                      {{ user.email }}
                    </b-col>
                    <b-col xs="12" sm="6" md="4">
                      <div class="subtitle">News</div>
                      <StockTwits ticker="ttnp"/>
                    </b-col>
                  </b-row>

                </b-col>


          </b-row>
        </b-container>
    </div>

</template>

<script>
import Vue from 'vue'
import VS2 from 'vue-script2'
import axios from 'axios'
import News from '~/components/stocks/News.vue'
import MarketOverview from '~/components/stocks/widgets/MarketOverview.vue'
import StockTwits from '~/components/StockTwits.vue'
import PostHome from '~/components/posts/PostHome.vue'
import wp from '~/lib/wp'
export default {
  async asyncData ({ params }) {
    return wp.posts({ per_page: 4})

  },
  data () {
    return {
      postsUrl: 'http://localhost:4000/users/soehlblaze',
      user: []
    }
  },
  components: {
    News,
    MarketOverview,
    StockTwits,
    PostHome
  },
  mounted() {
            this.getUser();
        },
  methods: {
    getUser() {
      axios.get(this.postsUrl, {
          params: {
            username: 'soehlblaze',
          }
        })
                    .then((response) => {
                        this.user = response.data;

                    })
                    .catch( (error) => {
                        console.log(error);
                    });
    },

},
}
</script>

<style>

</style>
