<template lang="html">
 <div>
   <b-container>
     <b-row>
       <b-col>
    <form class="form-signin" @submit.prevent="login">
      <h2 class="form-signin-heading">Please sign in</h2>
      <div class="alert alert-danger" v-if="loginError">{{ loginError }}</div>
      <label for="inputEmail" class="sr-only">Email</label>
      <input v-model="userlogin.email" type="text" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input v-model="userlogin.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </b-col>
</b-row>
  </b-container>
  </div>
</template>

<script>
import {route} from "vue-router"
import axios from 'axios'
import store from '~/store/index.js'
export default {
  data () {
    return {
      userlogin:{
      email: '',
      password:''
    },
      loginError: false
    }
  },
  methods: {
    login() {
      axios.post('http://localhost:4000/users/signin',
        {email: 'soehlblaze@gmail.com',password: 'Tool2018@!'},
        {
          headers: {
        'Content-type': 'application/x-www-form-urlencoded'
        }
        })
      .then(response => {
                      // login user, store the token and redirect to dashboard
                      //store.commit('loginUser')
                      localStorage.setItem('token', response.data.token)
                      console.log(response)
                      this.$router.push({ name: 'index' })
                  }).catch(error => {
                      this.loginError = true
                  });
    },
    addUser() {
      axios.post('http://localhost:2222/pismartframe/public/api/photos/addphoto', this.adduser,{
          headers: {
              'Content-type': 'application/x-www-form-urlencoded',
          }
      })
      .then((response)=> {
        this.showModal = false;
        this.updated = 'Photo added to display'
        console.log(this.displayupdate)
      });
    },
  }

}
</script>

<style lang="css">
</style>
