<template>
  <div>
    <div class="container">
		<div class="row">
		<div class="col-xs-12 col-md-8">
  <main class="single-post-container main-contents">
    <PostContents :post="current_post" mode="full" />
  </main>
</div><!-- end 8 -->
<div class="col-xs-12 col-md-4">
  <Sidebar/>
</div>
</div>
</div>
</div>
</template>

<script>
import { mapState } from 'vuex'
import PostContents from '~/components/posts/PostContents'
import Sidebar from '~/components/Sidebar.vue'
import wp from '~/lib/wp'
import { types } from '~/store'
 import {route} from "vue-router"

export default {
  data () {
    return {
      source: this.$route.params.source
    }
  },
  fetch ({ store, params }) {
    const existing = store.state.post_list.filter(p => p.slug === params.slug)
    if (existing.length > 0) {
      store.commit(types.CURRENT_POST_UPDATE, existing[0])
      return
    }
    return wp.posts({ slug: params.slug })
      .then(json => {
        store.commit(types.CURRENT_POST_UPDATE, json.posts[0])
      })
  },
  computed: mapState(['site_data', 'current_post']),
  components: {
    PostContents,
    Sidebar
  },
  head () {
    return {
      title: `${this.site_data.name} | ${this.current_post.title.rendered}`
    }
  }
}
</script>
